.navbar {
  background-color: #ff5a7d; 
  padding: 15px 20px;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navbar-list li {
  margin-left: 20px;
}

.navbar-list li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-list li a:hover {
  color: #fafafa;
}